
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* Header start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow:0 5px 15px rgba(0, 0, 0, 0.06);
  z-index:999;
  position: sticky;
  top:0;
  left:0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style:none; 
  padding:0 20px;
  position:relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight:600;
  color:black;
  transition:0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
  color:#088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content:"";
  width:30%;
  height:2px;
  background-color: #088178;
  position: absolute;
  bottom:-4px;
  left:20px;
}

/*Home Page*/
#hero{
  background-image:url(image/hero.png);
  height:90vh;
  width:100%;
  background-size: cover ;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom:15px;
}

#hero h1{
  color:#088178
}

#hero button{
  background-image:url(image/button.png);
  background-color: transparent;
  color:#088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;

}
#quality{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  flex-wrap: wrap;
}

#quality .box{
  width:180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 24px 24px 38px rgba(0, 0, 0, 0.03);
  border:1px solid #CCe7d0;
  border-radius: 4px;
  margin: 15px 0px;

}

#quality .box:hover{
  box-shadow: 10px 10px 54px rgba(70,62, 221, 0.1);
}



#quality .box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1px;
  border-radius: 6px;
  color: #E3E6F3;
  background-color: #222;
}

footer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:#E3E6F3;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer  p{
  font-size: 13px;
  margin:0 0 8px 0;
}

footer a{
  font-size:13px;
  text-decoration:none;
  color:#222;
  margin-bottom: 10px;
}

#products1{
  text-align:center;
}

#products1 .pro{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
 
}

#products1 .pro1{
  width:23%;
  min-width: 250px;
  padding:10px 12px;
  border:  1px solid #CCe7d0;
  border-radius: 25px;
  cursor:pointer;
}

#products1 .pro1 img{
  width:100%;
  border-radius: 20px;
}

#products1 .pro1 .des{
  text-align: start;
  padding: 10px 0;
}
#products1 .pro1 .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size:  14px;
}

#products1 .pro1 .des h4{
  padding-top: 7px;
  font-size:  15px;
  font-weight: 700;
  color: #088178;

}



#products2{
  text-align:center;
}

#products2 .pro{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
 
}

#products2 .pro1{
  width:23%;
  min-width: 250px;
  padding:10px 12px;
  border:  1px solid #CCe7d0;
  border-radius: 25px;
  cursor:pointer;
}

#products2 .pro1 img{
  width:100%;
  border-radius: 20px;
}

#products2 .pro1 .des{
  text-align: start;
  padding: 10px 0;
}
#products2 .pro1 .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size:  14px;
}

#products2 .pro1 .des h4{
  padding-top: 7px;
  font-size:  15px;
  font-weight: 700;
  color: #088178;

}


.slider 
 {
              
width: 100%;
height: 360px;
margin: 20px auto;
box-sizing: border-box;
overflow:visible;

box-shadow: 5px 5px 10px rgb(171, 173, 169);
 }
        
.img 
{
 width: 100%;
 height: 100%;
 }
  
 /* blog page */

.technologyBlog{
  display: flex;
  flex-wrap: wrap;
}

.upperBlog{
  display: flex;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 10rem;
  padding-top: 5rem;


  min-height: 10vh;
  
}
.blogbg img{
  /* height: 100%; */
  width: 100%;
  background-position: center;
  background-size: cover;
} 

.bloglinks{
  margin-left: 1rem;
  justify-content: center;
  position: fixed;
  right: -20px;
  
  
  /* background-color: rgb(134, 134, 134); */
}
.bloglinks ul li{
  list-style: none;
  margin: 2rem;
  
  
}

 /* background-color: h; */
  

.bloglinks ul a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
}
.bloglinks ul a:hover{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ff8400;
}
#atthatsectionlink {
  color: blue;
  

}
/*login.html*/
#in
{
  
    margin: 0;
    padding: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 400px;
  height: 350px;
  background-color: purple;
  color: #fff;
  align-items: center;
  text-align: center;
  

}




.input-box {
  height: 50px;
  width: 100%;
  margin-top: 50px;

  align-items: center;
  color: black;
}

.input-box input {

  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 15px;
  background: transparent;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.413);
  height: 25px;
  width: 60%;
  text-align: center;
}

.input-box input::placeholder {
  color: beige;

}

.remember-me {
  color: beige;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.remember-me input {

  width: 1rem;
  height: .8rem;

}

.remember-me a {
  color: beige;
  text-decoration: none;
}

.remember-me a:hover {
  text-decoration: underline;
}

.wrapper #btn {
  border: none;
  border-radius: 30px;
  width: 60%;
  height: 40px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin-top: 25px;
  background-color: aquamarine;

  cursor: pointer;
  color: #333;
}

.wrapper p {
  margin-top: 15px;
  color: black;
}

.wrapper p a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.wrapper p a:hover {
  text-decoration: underline;
  color: aqua;
}

#sign1 {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: seagreen;
}

.sign {
  width: 420px;
  height: 500px;
  align-items: center;
  align-items: center;
  background-color: purple;
}



.info {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  margin-left: 79px;
}

.info input {
  height: 25px;
  width: 60%;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.413);

  text-align: center;

}

.info input::placeholder {
  color: beige;
}

#btn {
  margin-top: 40px;
  height: 40px;
  width: 60%;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  color: #333;

  background-color: aquamarine;
}



p a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

p a:hover {
  text-decoration: underline;
  color: aqua;
}









        
